* {
  box-sizing: border-box;
  margin: 0;
}

/*=================
Main Selectors
==================*/

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #444;
  width: 100%;
  line-height: 3em;
}

a:hover {
  background-color: #e5c242;
}

header {
  text-align: center;
}

ul {
  width: 80%;
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: #444;
}

h1 {
  font-size: 2em;
  margin: 0;
  padding: 20px 0;
}

h2 {
  color: #e5c242;
  font-size: 1.2em;
  font-weight: 400;
}

h3 {
  color: #65c1d8;
  text-transform: uppercase;
  font-size: .98em;
  padding-top: 20px;
  padding-bottom: 20px;
}

p {
  font-weight: 300;
  color: #888;
}

li {
  display: block;
  list-style: none;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: bold;
  background-color: #fff;
  margin-bottom: 5px;
}

li:hover {
  background-color: #e5c242;
}

img {
  width: 290px;
}

main {
  margin: 0 10px;
}

footer {
  background-color: #f7f8f9;
  padding: 20px 20px;
  margin: 0;
}

/*=================
Element Selectors
==================*/

.head-banner{
  background-color: #f7f8f9;
  padding-top: 15px;
  padding-bottom: 25px;
}

.banner {
  padding: 25px 30px;
}

.profile-image {
  display: block;
  margin: 0 auto;
  width: 70%;
}

.intro {
  padding-top: 20px;
}

.container,
.intro,
.contact {
  text-align: center;
}

.container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.img {
  display: block;
  margin: 0 auto;
}

.section {
  padding-bottom: 20px;
}

.section p {
  font-size: .95em;
}

.text {
  padding-top: 25px;
  padding-bottom: 15px;
}

.top {
  background-color: slategrey;
  width: 25%;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
  font-size: .8em;
}

.skills{
  border-top: 1px solid #444;
}

.bottom-banner {
  background-color: #f7f8f9;
}

.contact {
  padding: 30px 10px;
  border-bottom: 1px solid #dbdbdb;
}

.contact h3 {
  padding-bottom: 15px;
}

.contact p {
  padding-bottom: 10px;
}

.footer {
  color: #444;
  font-weight: bold;
  float: left;
  font-size: .9em;
}

.back-top {
  float: right;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: bold;
}
.back-top a {
  padding-left: 20px;
  padding-right: 20px;
}

.hidden {
  display: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*========================
Media Queiries Selectors
=========================*/

@media (min-width: 768px) {
  header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  nav {
    display: block;
  }
  ul {
    width: auto;
  }
  li {
    display: inline-block;
    background-color: inherit;
    padding: 0px 20px;
  }
  .banner {
    display: block;
  }
  .banner img {
    height: 40%;
    width: 40%;
  }
  .profile-image {
    float: right;
    padding-right: 20px;
    width: 40%;
  }
  .intro {
    float: left;
    width: 60%;
    text-align: left;
    font-size: 1.25em;
    padding: 0 20px;
    margin-top: 0;
  }
  .container {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .portfolio-section {
  margin: 0 auto;
  }
  .section {
    float: left;
    width: 50%;
  }
  .img {
    width: 95%;
  }
  .text {
    width: 70%;
    margin: 0 auto;
  }
  .top {
    width: 20%;
    font-size: 1em;
  }
  .contact {
    width: 70%;
    margin: 0 auto;
  }
  .contact p {
    font-size: 1.23em;
  }
  .footer {
    padding-top: 10px;
    padding-bottom: 40px;
  }
  .back-top {
    display: none;
  }
  .hidden {
    display: block;
    float: right;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
  }
  .hidden li {
    float: left;
  }
  .clearfix::after {
      content: "";
      clear: both;
      display: table;
  }
}

@media (min-width: 1024px) {
  header {
    padding: 30px 70px 15px;
  }
  h1 {
    padding: 0;
  }
  nav {
    float: right;
  }
  ul{
    width: auto;
  }
  .name {
    float: left;
  }
  .banner img {
    height: 40%;
    width: 40%;
  }
  .intro {
    padding-left: 50px;
  }
  .section {
    width: 33%;
  }
  #skills {
    width: 100%;
  }
  .skill {
    width: 50%;
  }
  footer{
    padding-left: 70px;
    padding-right: 70px;
  }
  .footer {
    padding-top: 5px;
    padding-bottom: 0px;
  }
  .hidden a {
    padding: 0 10px 0px;
  }
}
